body {
	font-family: 'Andika', sans-serif;
	color: #4f674c;
}
table {
	background-color: #e7fde4;
	border-collapse: collapse;
}
td, th {
	border: 1px solid #4f674c;
	 padding: 5px;
}
th {
	background-color: #7db876;
}
div.student {
	position: absolute;
	top: 50px;
	left: 450px;
	display: none;
	background-color: #fbf3ba;
	width: 340px;
	padding-left: 5px;
}
div.student span {
	font-weight: bold;
}
div.student p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.2em;
}