.mainColor {
	background-color: gray;
	width: 100px;
	height: 150px;
}
.button {
	width: 200px;
	height: 50px; 
}
.button_red {
	background-color: red;
}
.button_blue {
	background-color: blue;
}
.button_green {
	background-color: green;
}
.button_yellow {
	background-color: yellow;
}
.button_133982 {
	background-color: #133982;
}

div#container {
	width: 400px;
	font-size: 0;

}

#container div.colorPicker, div.mainColor, div.counters {
	display: inline-block;
}

span.counter {
	font-size: 50px;
	display: block;
	margin-left: 30px;
}
